body {
	margin: 0%;
	display: grid;
	background-color: #ececec;
	background-image: url("Imagenes/Fondo Puro.png");

	/* Ajustar la forma en que la imagen se muestra en el fondo */
	background-size: cover; /* Cubrir toda la ventana del navegador */
	background-position: top; /* Centrar la imagen */
	background-size: 100%;
	background-repeat: repeat; /* Evitar la repetición de la imagen */
	min-height: 120vh

}

.imagen-superior {
width: 100%;
display: block;
margin: 0%;
}

.textovitta {
	color: #286dcb;
}

.textowpp a {
	color:#128C7E
}

.grupomensaje p {
	margin-bottom: -20px;
	text-align: center;
}

.grupomensaje{
	top: 40px;
	position: absolute;
	padding-top: 180px;
	font-size: 40px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "bebas kai", sans-serif
}

.container {

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: -150px;
}

.videocontainer {
	width: 100%;
	max-width: 400px;
	margin: 10px;
	box-sizing: border-box;
	
}

iframe{
	width: 100%; /* Hace que el video ocupe el 100% del contenedor */
	height: 225px; /* Hace que el video ocupe el 100% del contenedor */
	border: 0;
	border-radius: 20px;
}

.grupomensaje .ultimoparrafo {
padding-top: 50px;
}

.burbuja-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Ajusta según sea necesario para posicionar la burbuja */
    width: 80px;
    height: 80px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
}

.burbuja-flotante:hover {
    background-color: rgb(136, 250, 136); /* Color de fondo cuando se pasa el mouse encima */
}

.burbuja-flotante img {
    width: 40px; /* Ajusta según sea necesario para el tamaño del icono */
    height: 40px; /* Ajusta según sea necesario para el tamaño del icono */
	display: block;
	margin: auto;
    z-index: 2;
}

.circulos {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: disipar 2s ease-out infinite;
	transform-origin: center center;
}


@keyframes disipar {
	0% {
        transform: scale(0.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
	100.1% {
        transform: scale(0.1);
        opacity: 0.1;
    }
}

.marqueecontainer {
    overflow: hidden;
    white-space: nowrap;
	top: 10px;
}

.marquee {
    animation: desplazamiento 10s linear infinite;
}

@keyframes desplazamiento {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.boton {
	position: absolute;
    top: 30px; /* Coloca el botón en la parte superior */
    left: 50%; /* Lo centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar completamente */
    width: 350px; /* Ancho 0 para que sea invisible */
    height: 150px; /* Altura 0 para que sea invisible */
    border: none; /* Sin borde */
    background-color:transparent; /* Fondo transparente */
	cursor: pointer;
}

.final{
	margin-bottom: -20px;
	font-size: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "bebas kai", sans-serif
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1; /* Fondo del pie de página */
}

.derechos-reservados {
    font-size: 14px;
    color: #555; /* Color del texto de derechos reservados */
}